h1, h2, h3, h4, h5, h6 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, div, header, footer, a, main {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Signika Negative', sans-serif;
}

body {
    background-color: #f9f4f0;
}

.main {
    background-image: url(../img/bg-honey-bee.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header {
    width: 100%;
    height: 120px;
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    width: 700px;
    display: flex;
    justify-content: space-evenly;

}

.buttons {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5a3733;
    font-weight: bold;
}

.buy-btn {
    padding: 4px 10px;
    border: 2px solid rgb(247, 120, 1);
    border-radius: 8px;
    transition: 0.5s;
}

.btns {
    padding: 4px 12px;
}

.btns:hover {
    border-bottom: 3px solid rgb(247, 161, 1);
    color: rgb(247, 120, 1);
}

.buy-btn:hover {
    background-color: rgb(247, 120, 1);
    color: white;
    transition: 0.5s;
}

main {
    margin-top: 220px;
    padding: 0 180px;
}

.banner__text {
    color: rgb(247, 120, 1);
    font-weight: bold;
}

.banner__title {
    font-size: 115px;
    font-weight: 700;
    color: #5a3733;
    margin: 0;
    height: 135px;
    line-height: 135px;
}

.line {
    width: 60px;
    height: 4px;
    background-color: rgb(247, 120, 1);
}

.banner__desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 12px;
    width: 620px;
    font-size: 20px;
}

.banner__link {
    margin-top: 50px;
}

.banner__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 120px;
    font-size: 18px;
    color: white;
    padding: 13px 40px;
    border-radius: 10px;
    background-color: rgb(247, 120, 1);
    text-decoration: none;
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.desc__title {
    color: rgb(247, 120, 1);
    font-weight: bold;
}
.desc__quest {
    font-size: 50px;
    font-weight: 700;
    color: #5a3733;
    line-height: 100px;
}

.line-up {
    width: 80px;
    height: 4px;
    background-color: rgb(247, 120, 1);
    margin-top: -20px;
    margin-bottom: 20px;
}

.desc__desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 12px;
    width: 620px;
    font-size: 20px;
}